/* Order Details page css */
.orders table {
    width: 100%;
    border-collapse: collapse;
}

.orders .product-info {
    display: flex;
    flex-wrap: wrap;
}

.orders th{
    text-align: left;
    padding: 5px 10px;
    color: #1a1a1a;
    background-color: #e3e6f3;
}


.orders td {
    padding: 10px 20px;
    text-align: left;
}

.orders td img {
    width: 80px;
    width: 80px;
    margin-right: 10px;
}

.orders .order-details-btn {
    color: #fff;
    background-color: #088178;
}